@keyframes fade-in-capa {
    from {
        transform: translateY(-1000);
    }

    to {
        transform: translateY(-640px);
    }
}

@keyframes fade-in-left {
    from{
        transform: translateX(-200px);
        color: rgba(0, 0, 0, 0);
    }
    to {
        transform: translateX(0);
    }
}

#fundo-capa {
    background: linear-gradient(100deg, var(--black), var(--dark-brown), var(--brown), var(--gold), var(--bege));
    position: absolute;
    height: 1000px;
    width: 100%;
    border-radius: 100%;
    z-index: -1;
    top: -640px;
    animation-name: fade-in-capa;
    transition: all .3s;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
}

#banner {
    backdrop-filter: blur(80px);

    & .row {
        align-items: center;
        height: 695px;
        overflow: hidden;
    }

    & .titulo {
        text-align: center;
        float: left;
        place-items: center;
        z-index: 4;
        margin-left: 40px;
        color: white;
        z-index: 5;

        & h1 {
            overflow: hidden;
            font-size: 3.6em;
            font-family: "IBM Plex Mono", monospace;
            font-weight: 100;
            display: inline;
            animation: fade-in-left;
            animation-duration: 1.5s;
            animation-timing-function: 3s;
        }

        & h2 {
            overflow: hidden;
            font-size: 2.2em;
            font-family: "Italiana", monospace;
            font-weight: 900;
            display: inline;
        }

        & #cargo {
            font-family: "Italiana", sans-serif;
            display: inline;
            font-size: 2.2em;
            color: var(--gold);
        }

        & p#cargo {
            font-size: 1.2em;
            font-weight: 900;
        }

    }
}

#bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    z-index: 4;

    & .blob {
        position: absolute;
        width: 500px;
        height: 500px;

        & :nth-child(2) {
            filter: blur(10px);
        }
    }
}

a#explorar {
    border: 2px solid var(--gold);
    background: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    display: block;
    transition: all .3s;

    & button {
        color: white;
        text-decoration: none;
        background: none;
        border: none;
    }


}

a#explorar:hover {
    background: rgba(0, 0, 0, 0.4);
}