section#banner {
    width: 100%;
    background: linear-gradient(to top, var(--blue-400) 2%, var(--blue-600) 10%, var(--blue-night) 60%);
    min-height: 850px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 15px 40px 0px rgba(0, 112, 187, 0.5);

    & div#profile-img {
        width: 50%;
        align-content: end;

        & #img-bg {
            /* box-shadow: 0 0 30px #0089a5, 0 0 40px #090979; */
            background-color: rgba(255, 255, 255, .3);
            background: linear-gradient(to top, var(--blue-400), var(--blue-600), var(--blue-night));
            backdrop-filter: blur(15px);
            text-align: center;
            margin: auto;
            width: fit-content;
            border-radius: 15px 15px 0px 0px;

            & img {
                height: 650px;
                margin: 30px 30px 0px 30px;
                border-radius: 15px 15px 0px 0px;
            }
        }

    }

    & div#profile-text {
        width: 50%;
        display: flex;

        & #profile-title {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            & p {
                margin: 20px;
                font-size: 1.2rem;
                color: var(--gray-250);
            }

            & a button {
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 12px 24px;
                border-radius: 50px;
                color: white;
                text-decoration: none;
                font-weight: 500;
                transition: all 0.3s ease;

                &:hover {
                    border-color: rgba(255, 255, 255, 0.3);
                    background: rgba(255, 255, 255, 0.15);
                }
            }
        }

    }
}

@media (319px < width < 450.99px) {
    section#banner {
        flex-direction: column;
        padding-top: 80px;

        & div#profile-img {
            width: 100%;
            order: 2;

            & #img-bg img {
                height: 550px;
                margin: 30px 30px 0px 30px;
                border-radius: 15px 15px 0px 0px;
            }
        }

        & div#profile-text {
            width: 100vw;
            order: 1;

            & #profile-title {
                width: 100%;

                & h1 {
                    font-size: 2rem;
                }

                & p {
                    font-size: 1rem;
                }
            }
        }
    }

}

@media (451px < width < 1024px) {
    section#banner {
        flex-direction: column;
        padding-top: 80px;

        & div#profile-img {
            width: 100%;
            order: 2;

            & #img-bg img {
                height: 550px;
                margin: 30px 30px 0px 30px;
                border-radius: 15px 15px 0px 0px;
            }
        }

        & div#profile-text {
            width: 100vw;
            order: 1;

            & #profile-title {
                width: 80%;
                margin: auto;

                & h1 {
                    font-size: 2rem;
                }

                & p {
                    font-size: 1rem;
                }
            }
        }
    }
}