body {
    font-family: "Orbit", sans-serif;
}

.container-fluid#navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    overflow: hidden;
    margin: 20px 0px;

    & h1 {
        font-size: 3em;
        color: var(--light-blue);
    }

    & a {
        color: var(--light-gray);
        text-decoration: none;
        overflow: hidden;
        height: 40px;
        line-height: 2em;

        & i {
            display: inline;
            font-size: 20px;
        }

        & p {
            display: inline;
            margin: -10px 30px;
        }
    }
}

.container#descricao {

    & h2 {
        color: var(--light-blue);
    }

    & button.botao {
        background: none;
        border: 2px solid var(--blue);
        border-radius: 30px;
        padding: 5px;
        margin: 0px 0px 10px 0px;
        color: var(--blue);
        transition: all .3s;
        
        &:hover {
            transition: all .3s;
            background: var(--light-blue);
            border-color: var(--light-blue);
            color: var(--dark-gray);
        }
    }

    & i.tool {
        font-size: 30px;
        color: var(--blue);
        margin: 0px 10px;
    }

    & div.galeria {
        margin-top: 30px;
        background-color: var(--gray);
        border-radius: 30px;
        padding: 30px;

        & img {
            height: 250px;
            margin: 8px 5px;
            border-radius: 30px;
            float: left;
        }
    }
}