footer {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 10% 1fr 50%;
    overflow: hidden;
    padding-top: 20px;

    & div#links {
        display: flex;
        grid-row: 1 / 2;
        grid-column: 3;
        justify-content: space-between;
        align-content: center;

        & div.grupo-links {
            margin: 0px 20px;
            color: var(--sea-shell);
        }

        & h4 {
            text-transform: uppercase;
            margin: 10px 0px;
            font-weight: 900;
        }

        & a li {
            margin: 5px 0px;
            font-size: .9em;
            
            &:hover {
                text-decoration: underline;
            }
        }

        & ul a {
            color: var(--sea-shell);
            text-decoration: none;
            font-weight: 100;
        }

        & div#contato {
            & li {
                font-size: 1.1em;
                margin: 5px 0px;
                font-weight: 100;
            }
        }
    }

    & div#logo {
        overflow: hidden;
        width: 100px;
        grid-row: 1;
        align-content: center;

        a img {
            width: 100px;
        }
    }

    & div#creditos {
        grid-row: 2;
        grid-column: 1 / 4;
        width: 100%;
        text-align: center;
        margin: 20px 0px 10px 0px;
        color: var(--sea-shell);
        font-weight: 100;
        opacity: 25%;
    }
}