* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--dark-gray);
    padding: 0;
    margin: 0;
    color: var(--white);
}

#conteudo {
    padding-top: 50px;
    width: 100%;
    padding: 0;
    font-family: "Orbit", sans-serif;
}

h1,
h2,
h3 {
    overflow-y: hidden;
}

:root {
    --light-blue: #48A2B2;
    --blue: #2D6469;
    --dark-blue: #184D51;
    --gray: #0B363D;
    --dark-gray: #032527;
    --white: #fff;
    --black: #020305;
}

/* mobile */
@media (min-width: 320px) and (max-width: 425.98px) {

    #conteudo {
        padding-top: 50px;
    }

    /* navbar */
    header nav.row {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        justify-content: center;

        .col-1 {
            button {
                display: none;
            }


            button {
                display: none;
                padding: 0;
            }

            a#logo img {
                width: 55%;
                height: 40px;
                margin-left: -5;
            }

        }

        .col-5 {
            width: 90%;
            height: 50px;
            position: absolute;
            left: 13%;
            overflow-y: hidden;

            ul li {
                font-size: .6em;
                line-height: 2rem;

                & a {
                    font-weight: 400;
                }
            }
        }
    }

    /* Sobre mim */
    .container-fluid#sobre-mim {
        margin: 0px 0px;
        padding-top: 35px;

        & div.titulo-sobre-mim {
            width: 70%;

            & h1 {
                font-size: 2em;
            }
        }

        & .conteudo-sobre-mim {

            & .row {
                width: 100%;

                & .col-12#texto-sobre-mim {
                    font-size: 1.1em;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }

                & .col-12#timeline {
                    width: 100%;
                    padding: 0;

                    & ol {
                        margin: 0;

                        & li {

                            & h3 {
                                color: var(--gray);
                                font-size: 1.5em;
                            }

                            & p {
                                color: var(--white);
                            }
                        }


                    }

                }
            }
        }

    }

}

/* mobile --> tablet */
@media (min-width: 426px) and (max-width: 767.98px) {

    #conteudo {
        margin-top: 60px;
    }

    /* navbar */
    header nav.row {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        justify-content: center;

        .col-1 {
            button {
                display: none;
            }


            button {
                display: none;
                padding: 0;
            }

            a#logo img {
                width: 55%;
                height: 40px;
                margin-left: -5;
            }

        }

        .col-5 {
            width: 90%;
            height: 50px;
            position: absolute;
            left: 13%;
            overflow-y: hidden;

            ul li {
                font-size: .6em;
                line-height: 2rem;

                & a {
                    font-weight: 400;
                }
            }
        }
    }

    /* Sobre mim */
    .container-fluid#sobre-mim {
        margin: 0px 0px;
        padding-top: 35px;

        & div.titulo-sobre-mim {
            width: 70%;

            & h1 {
                font-size: 2em;
            }
        }

        & .conteudo-sobre-mim {

            & .row {
                width: 100%;

                & .col-12#texto-sobre-mim {
                    font-size: 1.1em;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }

                & .col-12#timeline {
                    width: 100%;
                    padding: 0;

                    & ol {
                        margin: 0;

                        & li {

                            & h3 {
                                color: var(--gray);
                                font-size: 1.5em;
                            }

                            & p {
                                color: var(--white);
                            }
                        }


                    }

                }
            }
        }

    }

}

/* tablet --> sml screen */
@media (min-width: 768px) and (max-width: 991.98px) {

    #conteudo {
        margin-top: 60px;
    }

    /* navbar */
    nav {
        .col-5 {
            width: 80%;
        }

        .col-1 button {
            display: none;
            padding: 0;
        }

        #logo {
            overflow-y: hidden;
            line-height: 1.6em;

        }
    }

    /* Banner */
    #banner {
        display: flex;
        justify-content: space-around;

        & .row {
            padding: 5px;

            & #perfil {
                height: 300px;
                min-width: 300px;
                width: 300px;
                margin: 10px;
            }

            & .col-12#titulo {
                width: 50%;
                align-content: center;

                & h1 {
                    font-family: "IBM Plex Mono", monospace;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: var(--light-blue);
                }

                & h2 {
                    font-size: 1.3em;
                }

                & p {
                    width: 350px;
                    font-weight: 100;
                    margin-top: 35px;
                    margin-left: -20px;
                    font-size: 1em;
                }
            }
        }
    }

    /* Sobre mim */
    .container-fluid#sobre-mim {
        margin: 0px 0px;
        padding-top: 35px;

        & div.titulo-sobre-mim {
            width: 45%;

            & h1 {
                font-size: 2em;
            }
        }

        & .conteudo-sobre-mim {

            & .row {
                width: 100%;

                & .col-12#texto-sobre-mim {
                    font-size: 1.1em;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }

                & .col-12#timeline {
                    width: 100%;
                    padding: 0;

                    & ol {
                        margin: 0;

                        & li {

                            & h3 {
                                color: var(--gray);
                                font-size: 1.5em;
                            }

                            & p {
                                color: var(--white);
                            }
                        }


                    }

                }
            }
        }

    }


}

/* sml screen --> L screen*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    #conteudo {
        margin-top: 60px;
    }

    /* navbar */
    nav .col-5 {
        min-width: 70%;
        font-size: 1em;

        button {
            width: 400px;
        }

    }

    /* Banner */
    #banner {
        display: flex;
        justify-content: space-around;

        & .row {
            padding: 5px;

            & #perfil {
                height: 300px;
                min-width: 300px;
                width: 300px;
                margin: 10px;
            }

            & .col-12#titulo {
                width: 50%;
                align-content: center;

                & h1 {
                    font-family: "IBM Plex Mono", monospace;
                    text-transform: uppercase;
                    font-size: 2.2em;
                    font-weight: 700;
                    color: var(--light-blue);
                }

                & h2 {
                    font-size: 1.7em;
                }

                & p {
                    font-weight: 100;
                    margin-top: 25px;
                    font-size: 1.1em;
                }
            }
        }
    }

    /* Sobre mim */
    .container-fluid#sobre-mim {
        margin: 0px 0px;
        padding-top: 35px;

        & div.titulo-sobre-mim {
            width: 45%;

            & h1 {
                font-size: 2em;
            }
        }

        & .conteudo-sobre-mim {

            & .row {
                width: 100%;

                & .col-12#texto-sobre-mim {
                    font-size: 1.1em;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }

                & .col-12#timeline {
                    width: 100%;
                    padding: 0;

                    & ol {
                        margin: 0;

                        & li {

                            & h3 {
                                color: var(--gray);
                                font-size: 1.5em;
                            }

                            & p {
                                color: var(--white);
                            }
                        }


                    }

                }
            }
        }

    }

}

/* XL screen */
@media (min-width: 1200px) {

    #conteudo {
        padding-top: 90px;
    }

    /* Banner */
    #banner {
        display: flex;
        justify-content: space-around;

        & .row {
            padding: 5px;

            & .col-12#perfil {
                height: 500px;
                min-width: 500px;
                width: 500px;
                margin: 15px;
                margin-left: -30;
            }

            & .col-12#titulo {
                width: 50%;
                align-content: center;

                & h1 {
                    font-family: "IBM Plex Mono", monospace;
                    text-transform: uppercase;
                    font-size: 2.5em;
                    font-weight: 700;
                    color: var(--light-blue);
                }

                & h2 {
                    font-size: 1.7em;
                }

                & p {
                    font-weight: 100;
                    margin-top: 60px;
                    font-size: 1.3em;
                }
            }
        }
    }

    /* Sobre mim */
    #sobre-mim {
        margin: 100px 0px;
        padding-top: 30px;

        & .titulo-sobre-mim {
            width: 70%;
            background: var(--gray);
            border: 10px solid var(--dark-gray);
            border-radius: 30px;
            position: relative;
            top: 30;
            left: -20;

            & h1 {
                text-align: center;
                color: var(--light-blue);
                font-size: 2em;
            }
        }

        & .conteudo-sobre-mim {
            background: var(--dark-blue);
            padding: 60px 30px;
            border-radius: 30px;


            & .row {
                align-content: center;

                & .col-12#texto-sobre-mim {
                    width: 50%;
                }

                & .col-12#timeline {
                    width: 50%;
                }

            }
        }

    }
}