* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--ebony);
    color: var(--white);
    font-family: "Poiret One", serif;
    overflow-x: hidden;
}

.container {
    margin-top: 45px;
    position: absolute;
    display: block;
    width: 90vw;
    margin-left: 5vw;
    z-index: 1;
}

:root {
    --navy: #081738;
    --ebony: #525948;
    --swamp: #292929;
    --brown: #412e15;
    --gray: #494949;
    --sage: #70877F;
    --amber: #dda05d;
    --almond: #edddc7;
    --sea-shell: #f6f3ea;
    --white: #fff;
    --black: #000;
}

/* mobile */
@media (319px < width < 450.9px) {

    /* Navbar */
    nav {
        overflow-x: hidden;

        & ul.nav-list {
            position: absolute;
            top: 8vh;
            right: 0;
            width: 50vw;
            height: 92vh;
            background-color: var(--swamp);
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translateX(100%);

            &.active {
                transform: translateX(0);
            }

            & li {
                margin-left: 0;
                opacity: 0;
            }
        }

        & div.mobile-menu {
            display: block;
        }
    }

    /* Banner */
    div.container #banner {

        & div.fundo {
            overflow-y: hidden;
            display: block;
            height: 550px;

            & div#perfil {
                height: 200px;
                overflow: hidden;
                padding: 0;

                & img {
                    box-shadow: none;
                    margin: 0;
                    width: 100%;
                }
            }

            & div#info-banner {
                padding: 30px;
                overflow-y: hidden;

                & div#tag {
                    top: 5;
                    right: 10;
                    border-radius: 30px;
                    z-index: 3;
                }

                & h1 {
                    font-size: 1.4em;
                }

                & p#titulo-destaque {
                    font-size: 2em;
                }

                & p#descricao {
                    margin-top: 20px;
                }

                & div#botoes {
                    margin-top: 20px;
                }
            }
        }

    }

    /* Footer */
    footer {
        grid-template-columns: 100%;
        grid-template-rows: 4 !important;

        & div#links {
            grid-row: 1 / 2;
            grid-column: 2;
            margin-left: -200px;
            margin-bottom: 20px;

            & div#nav {
                display: none;
            }

            & div#contato {
                margin: 0;
                font-size: 0.9em;
            }
        }

        & div#links #social.grupo-links {
            margin: 0px 10px 0px 10px;
        }

        & div#logo {
            grid-row: 3 !important;
        }

        & div#creditos {
            grid-row: 4 !important;
        }
    }
}

/* L mobile --> tablet */
@media (451px < width < 768.9px) {

    /* Navbar */
    nav {
        & ul.nav-list {
            position: absolute;
            top: 8vh;
            right: 0;
            width: 50vw;
            height: 92vh;
            background-color: var(--swamp);
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translateX(100%);

            &.active {
                transform: translateX(0);
            }

            & li {
                margin-left: 0;
                opacity: 0;
            }
        }

        & div.mobile-menu {
            display: block;
        }
    }

    /* Banner */
    div.container #banner {

        & div.fundo {
            height: 550px;

            & div#perfil {
                height: 100%;
                overflow: hidden;
                padding: 0;

                & img {
                    box-shadow: none;
                    margin-left: -80px;
                    height: 100%;
                }
            }

            & div#info-banner {
                padding: 30px;

                & div#tag {
                    top: 5;
                    right: 10;
                    border-radius: 30px;
                    z-index: 3;
                }

                & h1 {
                    font-size: 1.4em;
                }

                & p#titulo-destaque {
                    font-size: 2em;
                }

                & p#descricao {
                    margin-top: 20px;
                }

                & div#botoes {
                    margin-top: 20px;
                }
            }
        }

    }

    /* Footer */
    footer {
        grid-template-columns: 10% 90% !important;
        grid-template-rows: 3;

        & div#links {
            grid-column: 2 / 3;
            margin-left: -600px;

            & div#contato {
                margin: 0;
            }
        }

    }
}

/* tablet --> S screen */
@media (769px < width < 1024.9px) {

    /* NavBar */
    nav {
        & div.mobile-menu {
            display: none;
        }

        & a img#logo {
            margin-left: 30px;
        }

        & ul.nav-list {
            list-style: none;
            display: flex;
            transition: .3s ease-in-out;
            margin-right: 30px;
        }
    }

    /* Banner */
    div.container #banner {

        & div.fundo {
            height: 550px;

            & div#perfil {
                height: 100%;
                overflow: hidden;
                padding: 0;

                & img {
                    box-shadow: none;
                    margin-left: -80px;
                    height: 100%;
                }
            }

            & div#info-banner {
                padding: 30px;

                & div#tag {
                    top: 5;
                    right: 10;
                    border-radius: 30px;
                    z-index: 3;
                }

                & h1 {
                    font-size: 1.4em;
                }

                & p#titulo-destaque {
                    font-size: 2em;
                }

                & p#descricao {
                    margin-top: 20px;
                }

                & div#botoes {
                    margin-top: 20px;
                }
            }
        }

    }

    /* Seção sobre mim */
    div#sobre-mim {

        & div#quem-sou {
            font-size: 1.4em;
        }

        & div#tempo-codando {
            font-size: 1.4em;
        }

        & div#intro {

            & p {
                font-size: 1em;

                &#intro-detalhada {
                    display: block !important;
                }
            }
        }

        & div#formacao {
            grid-column: 1;
            grid-row: 3;
            width: 39.5%;
            float: left;

            & h3#titulo-formacao {
                font-size: 2em;
                text-align: center;
            }

            & l#cursos {
                font-size: 1.1em;
            }
        }

        & div#redes-sociais {
            grid-column: 2 !important;
            grid-row: 3;
            min-height: 200px;

            & div#download {
                font-size: 1.3em;
            }

            & div#titulo-redes {
                font-size: 1.7em;
            }

            & div#icones-redes {
                font-size: 2em;
                height: 40%;
                align-content: center;

                & a {
                    align-content: center;
                }

                & a img {
                    width: 160px;
                }
            }
        }
    }

    /* Seção meus projetos */
    div#meus-projetos {

        & h1#titulo-projetos {
            font-size: 3em !important;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
        }

        & div#projetos {
            grid-template-columns: 30% 30% 30% !important;
            justify-content: space-between;
        }
    }

    /* Footer */
    footer {
        grid-template-columns: 10% 90% !important;
        grid-template-rows: 3;

        & div#links {
            grid-column: 2 / 3;
            margin-left: -600px;

            & div#contato {
                margin: 0;
            }
        }

    }
}

/* S screen --> L screen */
@media (1025px < width) {

    /* NavBar */
    nav {
        & div.mobile-menu {
            display: none;
        }

        & a img#logo {
            margin-left: 30px;
        }

        & ul.nav-list {
            list-style: none;
            display: flex;
            transition: .3s ease-in-out;
            margin-right: 30px;
        }
    }

    /* Banner */
    div.container #banner {

        & div.fundo {
            height: 550px;

            & div#perfil {
                height: 100%;
                overflow: hidden;
                padding: 0;

                & img {
                    border-radius: 0;
                    box-shadow: none;
                    margin-left: -80px;
                    height: 100%;
                }
            }

            & div#info-banner {
                padding: 30px;

                & div#tag {
                    top: 5;
                    right: 10;
                    border-radius: 30px;
                    z-index: 3;
                }

                & h1 {
                    font-size: 2em;
                }

                & p#titulo-destaque {
                    font-size: 3.3em;
                }

                & p#descricao {
                    margin-top: 20px;
                    font-size: 1.6em;
                }

                & div#botoes {
                    margin-top: 20px;
                }
            }
        }

    }

    /* Seção sobre mim */
    div#sobre-mim {

        & div#quem-sou {
            font-size: 1.7em;
        }

        & div#tempo-codando {
            font-size: 2em;
        }

        & div#intro {

            & p {
                font-size: 1.2em;

                &#intro-detalhada {
                    display: block !important;
                }
            }
        }

        & div#formacao {
            grid-column: 1;
            grid-row: 3;
            width: 39.5%;
            float: left;

            & h3#titulo-formacao {
                font-size: 2em;
                text-align: left;
            }

            & l#cursos {
                font-size: 1.4em;
            }
        }

        & div#redes-sociais {
            grid-column: 2 !important;
            grid-row: 3;
            min-height: 200px;

            & div#download {
                font-size: 1.5em;
            }

            & div#titulo-redes {
                font-size: 2em;
            }

            & div#icones-redes {
                font-size: 2em;
                height: 40%;
                align-content: center;

                & a {
                    align-content: center;
                }

                & a img {
                    width: 160px;
                }
            }
        }
    }

    /* Seção tecnologias */
    div#tecnologias {
        background: var(--almond);
        border-radius: 20px;
        padding: 20px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 50% 50%;

        & h1#titulo-tecnologias {
            font-size: 3em;
            color: var(--brown);
            grid-column: 1;
        }

        & div#descricao-tec {
            color: var(--brown);
            font-size: 1.3em;
            font-weight: 600;
            margin: 20px 10px;
            grid-column: 1;
            grid-row: 2/3;
        }

        & div#tecs {
            display: grid;
            grid-template-columns: 25% 25% 25% !important;
            row-gap: 10px;
            column-gap: 10%;
            grid-row: 1 / 3;
            grid-column: 2;

            &.caixa-tec {
                text-align: center;
                border-radius: 20px;
                background-color: var(--brown);
                font-size: 1.5em;
                padding: 10px;

                & i {
                    font-size: .7em;
                }

                & p {
                    margin: 5px;
                }
            }
        }
    }

    /* Seção meus projetos */
    div#meus-projetos {

        & h1#titulo-projetos {
            font-size: 3em !important;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
        }

        & div#projetos {
            grid-template-columns: 24% 24% 24% 24% !important;
            justify-content: space-between;
        }
    }
}