* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--full-black);
    padding: 0;
    margin: 0;
    color: var(--white);
}

:root {
    --gold: #E8B950;
    --orange: #E53712;
    --bege: #B85B56;
    --light-brown: #857252;
    --brown: #750303;
    --dark-brown: #270000;
    --gray: #E7E6F4;
    --white: #fff;
    --black: #1D1C20;
    --full-black: #202020;
    --transparent-black: rgba(0, 0, 0, 0.2)
}

/* mobile */
@media (min-width: 320px) and (max-width: 425.98px) {

    /* navbar */
    header nav.row {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        justify-content: center;

        .col-1 {
            button {
                display: none;
            }

            #logo {
                line-height: 2em;
                font-size: 1.5em;
            }
        }

        .col-5 {
            width: 80%;
            height: 50px;
            position: absolute;
            left: 18%;
            overflow-y: hidden;

            ul li {
                font-size: .6em;
                line-height: 2rem;

                & a {
                    font-weight: 400;
                }
            }
        }
    }

}

/* mobile --> tablet */
@media (min-width: 426px) and (max-width: 767.98px) {

    /* navbar */
    header nav.row {
        position: absolute;
        left: 10;
        right: 10;
        width: 90%;
        justify-content: center;

        .col-5 {
            width: 80%;
            margin: 0;

            ul {
                font-size: 1.4em;
            }
        }

        .col-1 button {
            display: none;
            padding: 0;
        }

        #logo {
            overflow-y: hidden;
            line-height: 1.6em;
            margin: 0;
        }
    }

    
}

/* tablet --> sml screen */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* navbar */
    nav {
        .col-5 {
            width: 80%;
        }

        .col-1 button {
            display: none;
            padding: 0;
        }

        #logo {
            overflow-y: hidden;
            line-height: 1.6em;

        }
    }

    
}

/* sml screen --> L screen*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* navbar */
    nav .col-5 {
        min-width: 70%;
        font-size: 1em;

        button {
            width: 400px;
        }

    }

}

/* XL screen */
@media (min-width: 1200px) {


}