nav {
    height: 8vh;
    width: 100%;
    background-color: rgba(41, 41, 41, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    font-size: 1.3em;
    z-index: 10;

    & a#logo {
        margin-left: 15px;

        & img {
            height: 30px;
            width: 50px;
        }
    }

    & a {
        color: var(--white);
        text-decoration: none;
        transition: .3s;

        &:hover {
            opacity: 1;
            transition: .3s;
            color: var(--amber);
        }
    }

    & ul.nav-list {
        list-style: none;
        display: flex;
        transition: .3s ease-in-out;
        z-index: 3;

        & li {
            letter-spacing: 3px;
            margin-left: 32px;
        }
    }

    & div.mobile-menu {
        cursor: pointer;
        margin-right: 15px;
        
        & div {
            transition: .3s;
            width: 32px;
            height: 2px;
            background-color: var(--white);
            margin: 8px;
        }

        &.active {

            & .line1 {
                transform: rotate(-45deg) translate(-8px, 8px);
            }

            & .line2 {
                opacity: 0;
            }

            & .line3 {
                transform: rotate(45deg) translate(-5px, -7px);
            }
        }
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}