.container#trabalhos {
    border: 1px solid red;
    margin-top: 70px;
    font-family: "Orbit", sans-serif;

    & h1 {
        color: var(--light-blue);
    }

    & div#grade-projetos {
        border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;

        & .projeto {
            height: 250px;
            width: 30%;
            margin: 20px 0px;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
            text-align: center;
            align-content: center;
            transition: all .3s;
            border-radius: 5px;

            &:hover {
                scale: 1.05;
                transition: all .3s;
                border: none;
            }

            & .itens-projeto {
                background: linear-gradient(to top, var(--black), rgba(0, 0, 0, 0.1));
                height: 100%;
                align-items: center;
                align-content: center;
            }

            &#p1 {
                background: url(../img/Metabee.png);
                background-position: center;
                background-size: cover;
            }  
            &#p2 {
                background: url(../img/Art.png);
                background-position: center;
                background-size: cover;
            }
            &#p3 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }
            &#p4 {
                background: url(../img/login.png);
                background-position: center;
                background-size: cover;
            }
            &#p5 {
                background: url(../img/quiz.png);
                background-position: center;
                background-size: cover;
            }
            &#p6 {
                background: url(../img/IMC.png);
                background-position: center;
                background-size: cover;
            }
            &#p7 {
                background: url(../img/Mine.jpg);
                background-position: center;
                background-size: cover;
            }
            &#p8 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }
            &#p9 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }
            &#p10 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }
            &#p11 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }
            &#p12 {
                background: url(../img/ExactTime.png);
                background-position: center;
                background-size: cover;
            }


        }


    }
}