#projetos {
    position: absolute;
    left: 0;
    right: -1;
    height: 550px;
    background: var(--gray);
    overflow: visible;
    margin-top: 100px;


    & .conteudo-projetos {
        overflow: visible;
        display: flex;

        & div#titulo-projetos {
            background: var(--light-blue);
            border-radius: 40px;
            text-align: center;
            width: 40%;
            margin: -35px 30%;
            border: 10px solid var(--dark-gray);
            position: absolute;

            & h1 {
                font-size: 2em;
                color: var(--dark-gray);
            }

        }

        & .row {

            & .col-12 {
                display: flex;
                align-content: space-around;
                position: absolute;
                height: 100%;

                .projeto {
                    height: 70%;
                    width: 450px;
                    text-align: center;
                    align-content: center;
                    display: block;
                    margin: auto;
                    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
                    transition: all .3s;
                    border-radius: 5px;

                    &:hover {
                        scale: 1.05;
                        transition: all .3s;
                        border: none;
                    }

                    & .conteudo-projeto {
                        background: linear-gradient(rgba(0, 0, 0, .4), var(--black));
                        height: 100%;
                        align-content: center;
                    }

                    & p {
                        color: var(--light-gray);
                    }

                    & a {
                        font-size: 2em;
                        color: var(--white);
                        transition: all .3s;
                        margin: 10px;

                        &:hover {
                            color: var(--light-blue);
                            transition: all .3s;
                        }
                    }
                }

                & #projeto-1 {
                    background: url(../img/Metabee.png);
                    background-position: center;
                    background-size: cover;
                }

                & #projeto-2 {
                    background: url(../img/ExactTime.png);
                    background-position: center;
                    background-size: cover;
                }

                & #projeto-3 {
                    background: url(../img/Art.png);
                    background-position: center;
                    background-size: cover;
                }
            }
        }

        & button {
            border: none;
            background: none;
            transition: all .3s;
            border-radius: 30px;
            padding: 10px;
            color: var(--black);
            position: absolute;
            width: auto;
            bottom: 10;
            margin: 0px 40%;

            &:hover {
                transition: all .3s;
                text-decoration: underline;
            }
        }
    }
}