#sobre-mim {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--transparent-black);
    backdrop-filter: blur(100px);
    min-height: 600px;
    
    #descricao {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.84), black, black, black, black);
        box-shadow: 50px 0px 100px 100px #000;
        width: 50%;
        height: 700px;
        padding: 50px;
        position: relative;
        left: 50%;
        overflow: hidden;
        align-content: center;

        & h2 {
            font-family: 'Italiana';
            font-weight: 700;
            color: var(--gold);
        }

        & p {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 400;
        }
    }


    & #galeria {
        columns: 200px;
        rotate: 15deg;
        margin-top: -200px;
        margin-left: -150px;
        z-index: -3;
        position: absolute;
        width: 1050px;

        img.pics {
            width: 250px;
            margin-bottom: .4em;
        }
    }
}