#tec {
    margin-top: 30px;

    & h2 {
        font-family: "Italiana", monospace;
        font-weight: 600;
        margin: 0px;
        color: var(--gold);
    }

    & .row {
        display: flex;
        justify-content: space-between;


        & .card {
            color: var(--white);
            width: 350px;
            height: 270px;
            padding: 15px;
            border-radius: 0;
            clip-path: polygon(85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%, 0 0);
            background-color: var(--transparent-black);
            border: 3px solid var(--gold);
            backdrop-filter: blur(40px);
            margin-top: 1.5em;


            & .card-img {
                width: 100px;
                margin-top: 10px;
                align-self: center;
            }

            & .card-body {
                padding-left: 20px;
                margin: 0;

                & h5 {
                    overflow: hidden;
                }

                & p {
                    font-size: .85em;
                }
            }
        }

    }
}

#competencias {
    background: url(../img/fundo-tec2.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    overflow: hidden;
}