#tech-carousel {
    width: 100%;
    overflow: hidden;
    padding: 2.5rem 0;
    border-bottom: 1px solid #66666666;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.logo {
    min-width: 100px;
    margin: 0 1.5rem;
    opacity: 0.5;
    transition: transform 0.3s;
    font-size: 2.5rem;
}

.logo img {
    height: 60px;
    width: auto;
    filter: drop-shadow(0 0 4px rgba(0, 255, 255, 0.4));
}

/* Keyframes para rolagem contínua */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}