div#tecnologias {
    background: var(--almond);
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;

    & h1 {
        text-align: center;
        font-size: 2.5em;
        color: var(--brown);
    }

    & div#descricao-tec {
        color: var(--brown);
        font-size: 1.3em;
        font-weight: 600;
        margin: 20px 10px;
        width: 90%;
    }

    & div#tecs {
        display: grid;
        grid-template-columns: 45% 45%;
        row-gap: 10px;
        column-gap: 10%;

        & .caixa-tec {
            text-align: center;
            border-radius: 20px;
            background-color: var(--brown);
            font-size: 1.5em;
            padding: 20px;

            & i {
                font-size: 2em;
            }

            & p {
                margin: 5px;
            }
        }
    }
}